.header__logo {
  width: 142px;
}

@media screen and (min-width: 880px) and (max-width: 934px) {
  .header__logo {
    padding: 0 0 0 calc(0px + (27 - 0) * (934px - 100vw) / (934 - 880));
  }
}

@media screen and (min-width: 320px) and (max-width: 879px) {
  .header__logo {
    width: calc(142px - (142 - 104) * (879px - 100vw) / (879 - 320));
    padding: 0 0 0 27px;
  }
}