.card__delete-button {
  width: 18px;
  height: 19px;
  background-color: transparent;
  background-image: url(../../../images/delete-button.svg);
  background-size: cover;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 1;
  transition: opacity .25s ease-in-out;
}

.card__delete-button:hover {
  opacity: .6;
}